.container {
  margin: 20px;
}

.headerDiv {
  background-color: #020648;
  color: white;
  font-size: 12px;
  margin: auto;
  max-width: 50%;
  opacity: 1;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.titleStyles {
  color: white;
  font-size: 22px;
  text-align: center;
}

.timeDateDependents > p {
  font-size: 17px;
  margin: 0px;
  padding: 5px;
}

.selPara {
  padding-right: 5px;
}

.sideBySide {
  display: flex;
  flex-wrap: wrap;
}

.sideBySide hr {
  width: 75%;
}

.col1,
.col2 {
  background-color: #020648;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  margin: 2%;
  margin-bottom: 0;
  opacity: 0.95;
  padding-bottom: 30px;
  position: relative;
  text-align: center;
  border-radius: 5px;
}

.col1 {
  flex: 1 1 160px;
}

.col1 ul {
  display: table;
  margin: 0 auto;
}

.col1 ul li {
  text-align: left;
}

.col2 {
  flex: 1 1 300px;
  justify-content: space-around;
}

label {
  display: inline-block;
}

input#amount {
  padding: 2%;
  margin-right: 10%;
}

.formLabel {
  display: inline-block;
  width: 30px;
  text-align: center;
  margin: 2%;
}

select {
  display: inline-block;
  margin: 2%;
  border-radius: 5px;
  padding: 5px;
}

input {
  margin: 2%;
  border-radius: 5px;
  padding: 5px;
}

.convertButton {
  padding: 1%;
  border: 5%;
  border-radius: 5px;
}

.convertResult {
  background-color: #ccc;
  color: black;
  display: block;
  margin: 0 auto;
  max-width: 50%;
  margin-top: 3%;
  padding: 10%;
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
}

.footer {
  background-color: #020648;
  bottom: 0;
  color: white;
  left: 0;
  margin-bottom: -16px;
  min-height: 60px;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 100%;
}
